/*
    Fonts
*/

@font-face {
    font-family: 'Segoe UI';
    src: url(web_content/fonts/segoeui.ttf);
}


/*
    Customized HTML elements
*/

body {
    font-family: 'Segoe UI';
    font-size: 12px;
    background-color: #e7e7e7;
    color: white;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
	color: white;
	text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

a:hover {
	color: #81C323;
}

nav {
	float: right;
	padding: 20px 0 0 0;
	
}

a:hover#menu-icon {
	background-color: #81C323;
}

ul {
	list-style: none;
    z-index: 1;
}

li {
	display: inline-block;
	float: left;
	padding: 5px;
}

input {
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 0 8px 4px;
    margin-right: 1%;
    box-sizing: border-box;
}

input::-moz-placeholder {
    font-family: 'segoe UI';
    font-weight: normal;
}

input::-ms-input-placeholder {
    font-family: 'segoe UI';
}

input::-webkit-input-placeholder {
    font-family: 'segoe UI';
}

button {
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    margin: 8px 0 0 0px;
}

button:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
    background-color: #81C323;
}

select {
    font-family: inherit;
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 6px 0 6px 3px;
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    color: black;
    -webkit-border-radius: 5px;    
    cursor: pointer;
    background: whitesmoke url(web_content/images/drop-down-arrow.png) no-repeat right center;
    background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}

select:invalid {
    color: gray;
}

.div-link {
    color: darkorange;
    cursor: pointer;
    width: 100%;
}

.div-link:hover {
    color: #81C323;
}

.field-label {
    width: 100%;
    font-weight: bold;
    padding: 2px 0 0 2px;
}

.field-panel {
    width: 100%;
}

.field-validator {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #B48A01;
    background-color: #FFE9AD;
    color: #B48C32;
    padding: 2px 0 2px 4px;
}

.field-panel > .field, .field-label, .field-validator {
    width: 100%;
}

/*
.field-panel.mid {
    display: inline-block;
    width: 47%;
    margin: auto;
}
*/

/*
    Tab elements
*/

.container {
    -webkit-transition: 0.3s box-shadow ease;
    transition: 0.3s box-shadow ease;
    border-radius: 5px;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    align-content: flex-start;
    background-color:#48576E;
    min-height: 300px;
    min-width: 200px;
    padding: 10px;
}

.container:hover { box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); }

.inner-container {
    display: inline-block;
    width: 100%;
/*    padding: 10px;*/
}

/*
    Início - Estilo para domínio Evento
*/

.label_contador_evento {
    position: absolute;
    font-size: 9px;
    color: white;
    float: left;
}

.contador_evento {
    position: absolute;
    width: 0;
	height: 0;
	border-right: 25px solid transparent;
	border-top: 25px solid #339900;
}

/*
    Fim - Estilo para domínio Evento
*/


/*
    Início - Estilo para a grade
*/
.dado_grade {
    display: table-cell;
    font-size: 16px;
    color:white;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    width: 0.8%;
    height: 2em;
    vertical-align: middle;
}

.dado_dia_semana {
    background-color: #2B3747;
    text-align: center;
}

.linha_grade {
    display: table-row;
    align-content: center;
}

/*
    Fim - Estilo para a grade
*/

/*
    Início - Estilo para botões de data
*/

.cor_foco_botao {
    background-color: #808F2F;
/*
    background-color: #81C323;
    background-color: darkolivegreen;
*/
}

.botao {
    display: inline-block;
    font-size: 14px;
    color: white;
    border: 1px solid gray;
    padding: 7px;
    cursor: pointer;
}

.borda_esquerda {
    border-radius: 3px 0 0 3px;
}

.borda_direita {
    border-radius: 0 3px 3px 0;
}

/*
    Fim - Estilo para botões de data
*/



/* 
    Responsive Menu
*/
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #48576E url(web_content/images/menu-icon.png) center;

}

#img-lixeira {
    display: block;
	width: 18px;
	height: 18px;
	background: #2B3747 url(web_content/images/lixeira.svg) center;
    background-size: 18px 18px;
    float: right;
    margin: 2px;
    color: white;
}

#img-usuario-adicionar {
    display: block;
	width: 18px;
	height: 18px;
	background: #2B3747 url(web_content/images/usuario_adicionar.svg) center;
    background-size: 18px 18px;
    float: right;
    margin: 2px;
    color: white;
}

@media only screen and (max-width : 640px) {

	#menu-icon {
		display:inline-block;
	}

	nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 0px;
		background: gray;
		border: 2px solid #81C323;
        right: 4.2%;
		top: 60px;
		width: 60%;
	}

	nav li {
		text-align: center;
		width: 100%;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
}

/*
    Início - Padrão debitus
*/

.logo {
    color: #81C323;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

.titulo-painel {
    background-color: gray;
    border-radius: 3px 3px 0 0;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.debitus-botao:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
    background-color: #81C323;
}

.debitus-checkbox {
    color: white;
}

.debitus-painel {
    padding: 2px 2px 0 2px;
    border: 1px solid gray;
    border-radius: 0 0 5px 5px;
}

.debitus-campo {
    width: 100%;
    display: inline-block;
}

.debitus-ficha {
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 2px;
    margin-bottom: 5px;
    text-align: left;
    vertical-align: text-top;
}

.debitus-ficha-cabecalho {
    border-radius: 3px 3px 0 0;
    color: white;
    font-size: 13px;
    background-color: #2B3747;
    margin-bottom: 2px;
    min-height: 25px;
    padding: 3px 0 0 5px;
}

.debitus-ficha-situacao {
    text-align: center;
    background-color: #ffffff;
}

.debitus-ficha-situacao.CAD {
    background-color: #81C323;
}

.debitus-ficha-situacao.CAN {
    background-color: firebrick;
}


.debitus-ficha-horario {
    color: white;
    border-radius: 0 0 0 3px;
    background-color: gray;
    font-size: 28px;
    display: inline-block;
    text-align: center;
    min-width: 90px;
}

.debitus-ficha-conteudo {
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 2px;
    word-break: break-all;
    max-width: 50%;
}

.debitus-ficha-info {
    font-size: 10px;
}

.debitus-validacao {
    border-radius: 3px;
    border: 1px solid #B48C32;
    background-color: #FFE9AD;
    color: #B48C32;
    margin-right: 10px;
}

.modal {
    background: rgba(0,0,0,0.5);
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.notification-msg {
    font-weight: bold;
    text-align: left;
    display: inline-block;
    word-break: break-all;
}

.notification-panel {
    min-width: 50%;
    min-height: 20px;
    margin: 5px;
    padding: 8px;
    border-radius: 3px;
}

.notification-panel.dialog {
    border: 1px solid #6A88A0;
    background-color: #D1E4F3;
    color: #6A88A0;
}

.notification-panel.success {
    border: 1px solid #9EB259;
    background-color: #EFFEB9;
    color: #9EB259;
}

.notification-panel.error {
    border: 1px solid #AF6B60;
    background-color: #FCCAC1;
    color: #AF6B60;
}

.notification-panel.info {
    border: 1px solid #6A88A0;
    background-color: #D1E4F3;
    color: #6A88A0;
}

.notification-panel-button {
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #6A88A0;
    background-color: #6A88A0;
    color: white;
}

.debitus-bcolor1 {background-color: #2B3747}
.debitus-bcolor2 {background-color: #48576E}
.debitus-bcolor3 {background-color: #81C323}
.debitus-bcolor4 {background-color: darkolivegreen}
.debitus-bcolor5 {background-color: gray}

.titlePane {
    padding: 6px 6px 6px 6px;
    border: 1px solid gray;
    border-radius: 0 0 5px 5px;
}

.titlePane-title {
    background-color: gray;
    border-radius: 3px 3px 0 0;
    padding: 5px;
    font-weight: bold;
    color: white;
}

/* FOR EACH PAGE */

#login-logo {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

#login-link_nova_conta {
    position: fixed;
    text-align: right;
    top: 5px;
    right: 5px;
}

#login-link_esqueci_senha {
    padding: 5px;
    vertical-align: bottom;
    text-align: right;
}

#cadUsuario-obrigatorios {
    font-style: oblique;
    font-size: 12px;    
}

#recuperarSenha-aviso {
    font-size: 14px;
    margin-bottom: 5%;
    text-align: justify;
}

#recuperarSenha-botaoObter {
    margin-bottom: 20px;
}
#recuperarSenha-botaoVoltar {
    position: absolute;
    right: 4%;
    top: 2%;
}

#cadCategoriaDebito-botaoVoltar {
    float: right;
    position: static;
}
/*
    Fim - Padrão debitus
*/