<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>#capitalizedAppName#</title>
        <link href='../../apps/#appName#/#appName#.css' rel='stylesheet' type='text/css'>
        <link href='../../css/grid_system.min.css' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../../client/moocambo.js"></script>
    </head>
    <body onpageshow="connect('#firstPage#','main')" class="debitus-bcolor1">
        <div id="main">
            <div id="page"></div>
        </div>
    </body>
</html>