/* Enter the CSS of your application here. */
body, div, button, input, select {
    font-family: monospace;
    margin: 4px;
}

button {
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 800;
    background-color: lightgray;
    font-weight: 800;
}

button:hover {
    color: blue;
    background-color: darkgray;
}

.grid_record {
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.grid_label {
    font-weight: 800;
}

.grid_actions {
    text-decoration: none;
}

.grid_contents {
    display: grid;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 4px;
    overflow: hidden;
}

.manterUsuarios {
    display: inline-block;
}

.manterUsuarios #txtPesquisa {
    background-color: beige;
}

.cadastrarNovoUsuario {
    display: grid;
}

.cadastrarNovoUsuario div {
    display: inline-flex;
}

.alterarUsuario {
    display: inline-block;
}