/* Enter the CSS of your application here. */
.grid {
    
}

.grid_record {
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-bottom: 4px;
}

.grid_label {
    font-weight: 800;
}

.grid_actions {
    text-decoration: none;
}

.grid_contents {
    display: grid;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
    overflow: hidden;
}

.grid_button {
    border: none;
    color: blue;
    background-color: white;
    cursor: pointer;
    margin: 4px;
}

.manterUsuarios.campos {
    display: inline-flex;
    margin: 4px;
}

